<html>
   <head>
      <title>VueJs Instance</title>
      <script type = "text/javascript" src = "vue.js"></script>
      <link rel="stylesheet" href="chat.css">
   </head>
   <body>
      <!-- <div id = "vue_det">
         <h1>Firstname : {{firstname}}</h1>
         <h1>Lastname : {{lastname}}</h1>
         <div>{{htmlcontent}}</div>
      </div> -->
      <!-- <script type = "text/javascript" src = "vue_template.js"></script> -->
      <div class="logo">

      </div>

      <div id="chatapp">
         <div class="messagebar">
           <input class="new-chat"
             autofocus autocomplete="off"
             placeholder="Type your message and hit enter"
             v-model="newTodo"
             @keyup.enter="addTodo">
         </div>
         <div class="main">
           <ul class="todo-list">
             
             <li class="todo botmsg">
               <div class="view">
                 <label>Hello</label>
               </div>
             </li>
             
             <li v-for="todo in filteredTodos"
               class="todo"
               :key="todo.id"
               :class="{ completed: todo.completed, editing: todo == editedTodo }">
               <div class="view">
                 <label>{{ todo.title }}</label>
                 <button class="destroy" @click="removeTodo(todo)"></button>
               </div>
             </li>
             
             <li v-for="todo in filteredTodos"
               class="todo botmsg"
               :key="todo.id">
               <div class="view">
                 <label>{{ todo.title }}</label>
               </div>
             </li>
             
           </ul>
         </div>
         <script src="chat.js"></script>

      </div>
   </body>
</html>